*{
    margin: 0;



}

.checkerboard-container {
    margin: 0 auto;
    margin-top: 30px;


}

.cube {
    width: 100px;
    height: 100px;

}


.sub-2 {

}

.outer-horizontal {
    display: flex;

}