* {
    padding: 0;
    margin: 0;

}

#container {
    display: flex;
    width: 850px;
    min-height: 380px;
    background-color: ghostwhite;
    margin: auto;
    margin-top: 100px;
    box-shadow: black 2px 4px;
    border-radius: 5px;
    position: relative;
}

#subcontainer-1 {

    width: 850px;
    height: 130px;
    background-color: steelblue;
    border-radius: 5px;



}


.user-profile {
    height: 100px;
    width: 100px;
    border-radius: 100%;
    position: absolute;
    margin-left: 25px;
    margin-top: 75px;
    background-color: white;

}
#subcontainer-2 {

    width: 850px;
    height: 350px;
    margin-top: 130px;
    position: absolute;

}

#userinfo {
    margin-top: 170px;
    margin-left: 30px;
    font-family: Cambria;


}

.location {
   display: flex;
    width: 17px;
    height: 24px;
    margin-top: 5px;
    margin-left: 3px;
}

.location-name {

    margin-top: 5px;
    margin-left: 6px;
    font-family: Arial;
    font-size: 20px;


}

.skills{
    margin-top: -100px;
    margin-left: 40px;
    font-family: Arial;

}




.edit-profile-img {
    width: 20px;
    height: 20px;
    margin-left: 30px;
    margin-top: 15px;
}

.edit-profile {
    font-size: 18px;
}