<head>
    <link rel="stylesheet" type="text/css" href="css/site.css">
</head>
<header>
    <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow ">
        <div class="container spacer">
            <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index"><h2>Dojo Activity Center</h2></a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                    aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="navbar-collapse collapse d-sm-inline-flex flex-sm-row-reverse">
                <ul class="navbar-nav flex-grow-1">
                    <li class="nav-item">
                        <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Index">Home</a>
                    </li>
                </ul>
            </div>
            <div class="options">
                <h7 class="welcome-msg">Welcome @ViewBag.LoggedInUser.Name</h7>
                <a class="btn btn-danger welcome-msg">Log out</a>

            </div>
        </div>
    </nav>
</header>
