<!DOCTYPE html>

<html>
<head>
    <title>Results</title>
    <link rel="stylesheet" type="text/css" href="form.css"/>
    <link rel="stylesheet" href="bootstrap.min.css">
</head>
<body>
<div class="form-container">
@{
    <h3>Name: @ViewBag.Name</h3>
    <h3>Location: @ViewBag.Location</h3>
    <h3>Language: @ViewBag.Language</h3>
    <h3>Comments: @ViewBag.Comments</h3>

}

</div>
</body>
</html>