<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Users</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-F3w7mX95PdgyTmZZMECAngseQB83DfGTowi0iMjiWaeVhAn4FJkqJByhZMI3AhiU" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/style.css') }}">
</head>
<body>

<h1 class="header-title">Here are our users!!!</h1>

<table class="tbc table">
    <thead>
    <tr>
        <th>First Name</th>
        <th>Last Name</th>
        <th>Email</th>
        <th>Created At</th>
        <th>Actions</th>
    </tr>
    </thead>
    <tbody>
    {% for oneuser in users %}
        <tr>
            <td>{{ oneuser.first_name }}</td>
            <td>{{ oneuser.last_name }}</td>
            <td>{{ oneuser.email }}</td>
            <td>{{ oneuser.created_at }}</td>
            <td>
                <form>
                    <button class="btn btn-info">Show</button>
                    <button class="btn btn-primary">Edit</button>
                    <button class="btn btn-danger" formaction="/rmuser/{{ oneuser.id }}">Delete</button>
                </form>

            </td>
        </tr>
    {% endfor %}

    </tbody>

</table>
<form class="place" action="/users/new">
    <button class="btn btn-primary place">Add New User</button>
</form>
</body>
</html>