* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Roboto Light";
}
.main {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    width: 40%;
    margin: 0 auto;
    gap: 30px;
}

.column-1 {
    flex: 2;
}

.column-2 {
    flex: 1;
}

.nav {
    display: flex;
    align-items: center;
    background-color: black;
    color: white;
    height:60px;
    margin-bottom: 50px;
}

.nav-title{
    color: white;
    font-size: 30px;

}
.nav-links {
    padding-right: 30px;
    display: flex;
    background-color: black;
    display: inline;
    justify-content: space-between;
}

.sign-out-button {
    color: white;
    margin-left: 100px;
    background-color: lightskyblue;
    font-size: 20px;
    width: 100px;

}

.profile-box {
    border-radius: 3px;
    border: 3px gray solid;

}
.profile-box-header {

    height: 100px;
    background-color: lightsteelblue;
    margin: 0 auto;

}

.profile-photo {
    position: absolute;
    width: 75px;
    border: 3px black solid;
    border-radius: 50%;
    margin-left: 30px;
    margin-top: 60px;

}

.profile-info {
    padding: 30px;
}

.profile-name {
    width: 180px;

    margin-top: 40px;

    font-size: 30px;
}

.profile-location {

}

.profile-location-icon {

    width: 13px;

}
.profile-location-text {
    font-size: 19px;
    margin-left: 10px;


}

.profile-skills {
    margin-top: 20px;
}

.profile-edit {
    display: flex;
    width: 20px;
    height: 20px;

}

.profile-edit-text {

    margin-left: 4px;
    white-space: nowrap;
}

.connectionreq-box {



    border: 3px gray solid;
    border-radius: 5px;

}

.connectionreq-box-header {
    height: 50px;
    background-color: darkslategray;
}

.connectionreq-amount {

    width: 30px;
    height: 30px;
    border-radius: 50%;
    border: 2px black solid;
    background-color: lightgray;
    position: absolute;
    margin-top: 10px;
    margin-left: 10px;
    font-size: 20px;
    text-align: center;


}
.connectionreq-box-header-text {
    margin-top: 13px;
    margin-left: 50px;
    position: absolute;
    color: white;
}

.connectionreq-usrimg {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    border: 2px black solid;


}

.connectionreq-userlist {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
}


.connectionreq-optionimg {
    width: 30px;
}

.connectionreq-profile-name {
    display: flex;
    gap: 10px;
    align-items: center;
}


.education-box {
    border-radius: 3px;
    border: 3px gray solid;
    margin-top: 30px;
}

.education-box-header {
    display: flex;
    padding: 20px;
    height: 60px;
    background-color: darkslategray;
    color: white;
    font-size: 20px;


}
.education-box-description {
    color: black;
    padding: 20px;

}

.education-box-description h4 {
    padding: 5px;
    color: darkgray;
}

.your-connections-box {

    border-radius: 3px;
    border: 3px gray solid;
    margin-top: 30px;
}

.your-connections-box-header {

    display: flex;
    padding: 10px;
    height: 40px;
    background-color: darkslategray;
    color: white;
    font-size: 15px;

}

.your-connections-box-text {
    display: flex;
    gap: 10px;
    align-items: center;
    padding: 10px;




}

.your-connections-box-amount {
    display: flex;
    width: 50px;
    height: 25px;
    background-color: lightgray;
    border-radius: 50%;
    border: 1px black solid;
    color: black;
    font-size: 11px;
}

.your-connections-box-amount h2 {
    align-items: center;
    margin-left: 6px;



}

.image-format {

    align-items: center;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    border: 1px black solid;
}

.your-connections-box-text h2  {

}

