* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Roboto Light";


}

.nav {
    display: flex;
    align-items: center;
    background-color: black;
    color: white;
    height:60px;



}

.nav-title{
    color: white;
    margin-left: 110px;
    font-size: 30px;



}
.nav-links {
    margin-left: 40px;
    display: flex;
    background-color: black;
    display: inline;
    justify-content: space-between;



}

.sign-out-button {
    color: white;
    margin-left: 100px;
    background-color: lightskyblue;
    font-size: 20px;
    width: 100px;

}

.profile-box {

    width: 430px;
    height: 370px;
    margin-top: 50px;
    border-radius: 3px;
    margin-left: 110px;
    border: 3px gray solid;

}
.profile-box-header {

    width: 425px;
    height: 100px;
    background-color: lightsteelblue;
    margin: auto;

}

.profile-photo {
    position: absolute;
    width: 75px;
    height: 75px;
    border: 3px black solid;
    border-radius: 50%;
    margin-left: 30px;
    margin-top: 60px;

}

.profile-name {
    width: 180px;
    height: 30px;
    margin-top: 40px;
    margin-left: 30px;
    font-size: 30px;
}

.profile-location {

}

.profile-location-icon {

    width: 13px;
    height: 21px;
    margin-top: 15px;
    margin-left: 40px;
}
.profile-location-text {
    font-size: 19px;
    margin-left: 10px;
    vertical-align: 4px

}

.profile-skills {
    margin-left: 40px;
    margin-top: 20px;
}

.profile-edit {
    display: flex;
    width: 20px;
    height: 20px;
    margin-left: 20px;
    margin-top: 20px;
}

.profile-edit-text {
    margin-top: 16px;
    margin-left: 4px;
    white-space: nowrap;
}

.connectionreq-box {

    margin-left: 570px;
    margin-top: -370px;
    width: 230px;
    height: 185px;
    border: 3px gray solid;
    border-radius: 5px;

}

.connectionreq-box-header {
    height: 50px;
    width: 224px;
    background-color: darkslategray;
}

.connectionreq-amount {

    width: 30px;
    height: 30px;
    border-radius: 50%;
    border: 2px black solid;
    background-color: lightgray;
    position: absolute;
    margin-top: 10px;
    margin-left: 10px;
    font-size: 20px;
    text-align: center;


}
.connectionreq-box-header-text {
    margin-top: 13px;
    margin-left: 50px;
    position: absolute;
    color: white;
}

.connectionreq-usrimg {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    border: 2px black solid;
    margin-left: 10px;

}

.connectionreq-usernames {
    align-content: flex-end;
    position: absolute;
    margin-top: 15px;
    margin-left: 20px;

}

.connectionreq-optionimg {

    display: inline-block;
    width: 30px;
    height: auto;
    margin-right: 5px;








}

