.header-index {
    width: 50%;

    padding: 5px;
    display: flex;
    justify-content: space-between;
    justify-items: center;
}

.clicker {
    text-decoration: none !important;
    color: white;
    font-weight: bold;
}

.table-desc {
    margin-left: 10px;
}