

<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" type="text/css" href="css/form.css">
    <link rel="stylesheet" type="text/css" href="css/bootstrap.min.css"/>
    <title></title>
</head>
<body>
<div>
    <div class="form-control">
            <form action="/register" method="post">
                <label>Your Name:</label>
                <input type="text" name="Name" class="form-control"> <!-- updated -->
                <label>House:</label>
                <select name="House" class="form-control">
                    <!-- updated -->
                    <option value="Gryffindor">Gryffindor</>
                    <option value="Ravenclaw">Ravenclaw</>
                    <option value="Slytherin">Slytherin</>
                    <option value="Hufflepuff">Hufflepuff</>
                </select>
                <label>Year:</label>
                <input type="number" name="CurrentYear" class="form-control"> <!-- updated -->
                <button class="btn btn-success">Submit</button>
            </form>
    </div>


</div>
</body>
</html>