@model webapp.Models.HogwartsStudent

    <!DOCTYPE html>

<html>
<head>
    <title></title>
</head>
<body>
<div>
    <h1>Name: @ViewBag.Name</h1>
    <h1>Location: @ViewBag.House</h1>
    <h1>Favorite Language: @ViewBag.Year</h1>
    <h1>Comments: @ViewBag.Comments</h1>

</div>
</body>
</html>