@{
    ViewData["Title"] = "Home Page";
}
<head>
    <link rel="stylesheet" type="text/css" href="css/Index.css"/>
</head>
<div class="text-center">
    <h2>Chefs | <a href="/dishes">Dishes</a></h2>
    <h6 class="btn btn-primary">
        <a href="newChef" class="clicker">Add a chef</a>
    </h6>
</div>

<div class="table-desc">
    <h5>Check out or roster of chefs!</h5>

    <table class="table table-dark">
        <thead>
        <tr>
            <th scope="col">asd</th>
            <th>asd</th>
        </tr>
        </thead>
        <tbody>
        <tr>
            <td>help</td>
            <td>me</td>
        </tr>
        </tbody>
    </table>

</div>